a:link
{
}
a:active
{
}
a:visited
{
}
body
{
	background-color: rgb(255, 255, 255);
}
table
{
}
th
{
}
td
{
}
h1
{
}
h2
{
}
h3
{
}
h4
{
}
h5
{
}
h6
{
}
hr
{
}
button
{
}
label
{
}
.mstheme-text
{
}
textarea
{
}
fieldset
{
}
legend
{
}
select
{
}
caption
{
}
