vti_encoding:SR|utf8-nl
vti_author:SR|AMILOFARINA\\farina
vti_modifiedby:SR|AMILOFARINA\\farina
vti_timelastmodified:TR|23 Aug 2007 13:53:58 -0000
vti_timecreated:TR|23 Aug 2007 13:53:58 -0000
vti_cacheddtm:TX|23 Aug 2007 13:53:58 -0000
vti_filesize:IR|29514
vti_cachedlinkinfo:VX|S|top_bar_button_papyrus.gif S|background_papyrus.gif S|bull2_papyrus.gif S|toolgrad_papyrus.gif S|theme.css S|dot_papyrus.gif S|toolgrad_papyrus.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/papyrus/top_bar_button_papyrus.gif FSUS|_themes/papyrus/background_papyrus.gif FSUS|_themes/papyrus/bull2_papyrus.gif FSUS|_themes/papyrus/toolgrad_papyrus.gif FSUS|_themes/papyrus/theme.css FSUS|_themes/papyrus/dot_papyrus.gif FSUS|_themes/papyrus/toolgrad_papyrus.gif FSUS|_themes/papyrus/partgrad.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/papyrus/theme.css
