vti_encoding:SR|utf8-nl
vti_author:SR|AMILOFARINA\\farina
vti_modifiedby:SR|AMILOFARINA\\farina
vti_timelastmodified:TR|23 Aug 2007 13:44:55 -0000
vti_timecreated:TR|23 Aug 2007 13:44:55 -0000
vti_cacheddtm:TX|23 Aug 2007 13:44:55 -0000
vti_filesize:IR|29516
vti_cachedlinkinfo:VX|S|top_bar_button_arctic.gif S|background_arctic.gif S|bull2_arctic.gif S|toolgrad_arctic.gif S|theme.css S|dot_arctic.gif S|toolgrad_arctic.gif S|partgrad.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/arctic/top_bar_button_arctic.gif FSUS|_themes/arctic/background_arctic.gif FSUS|_themes/arctic/bull2_arctic.gif FSUS|_themes/arctic/toolgrad_arctic.gif FSUS|_themes/arctic/theme.css FSUS|_themes/arctic/dot_arctic.gif FSUS|_themes/arctic/toolgrad_arctic.gif FSUS|_themes/arctic/partgrad.gif
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|_themes/arctic/theme.css
